header, main {
    max-width: 1240px;
    margin: auto;
}

header {
    grid-template-columns: 51px auto auto;
} // end header

/* NAVIGATION STUFF GOES HERE  */
nav {
    color: white;
    button {display: none;}
    justify-self: end;
    ul, ul.open {
        position: relative;
        display: flex;
        background-color: transparent;
        width: auto;
        
    } // end ul

    ul li {border: none;}

    ul li a {
        color: $navColor;
        border-radius: 20px;
        padding: .5rem 1rem;
        margin-left: .2rem;
        transition: all .5s ease;
    } // end anchor
    ul li a:hover {
        background-color: #eee;
        color: #333!important;
    }
    ul li.active a {
        color: white;
    }

} // end nav

main {
    border: 1px solid green;
}

// create the for loop
@for $i from 1 through 12 {
    $w: calc($i /12) * 100%;
    .large-#{$i} {flex-basis: $w;}
}