$primaryColor: #B61AFF; 
$secondaryColor: #c7d2fe;
$backgroundColor: #000000;
$accentColor: #69afa0;
$menuColor: #390141;

$defaultFont:'Roboto', sans-serif;
$headerFont: 'Jersey';
$logoFont: 'Russo One';
$lightWeight: 300;
$normalWeight: 500;

$gutter: 16px;